# Dependencies & build
node_modules/
.next/
.npm-cache/
tsconfig.tsbuildinfo
out/

# Python
venv/
__pycache__/
*.pyc
.env
.env.local

# Secrets
firebase-credentials.json

# Database
*.db

# OS
.DS_Store
